.first-container 
{
    width: 215px;
    height: 110px;
    background-color: red;
    padding-top: 10px;
    position: absolute;
    border-color: green;
    border-style: solid;
    border-width: 1em;
    color: blue;
    text-align: center;
    line-height: 3em
  }
  .second-container 
{
    width: 200px;
    height: 100px;
    background-color: yellow;
    padding: 10px;
    margin-left: 20em;
    position: absolute;
    border-color: red;
    border-style: solid;
    border-width: 1em;
    color: blue;
    text-align: center;
    line-height: 3em
  }
  .third-container 
{
    width: 200px;
    height: 100px;
    background-color: green;
    padding: 10px;
    margin-left: 40em;
    position: absolute;
    border-color:yellow;
    border-style: solid;
    border-width: 1em;
    color: blue;
    text-align: center;
    text-transform: uppercase;
    line-height: 3em
  }